/***************************************************************
|*|**********************************************************|*|
|*|  Css                                                     |*|
|*|                        -----------                       |*|
|*|                      | ## Booki ## |                     |*|
|*|                        -----------                       |*|
|*|                                                          |*|
|*|**********************************************************|*|
***************************************************************/
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromBottom {
  0% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: 15px;
  }
}
body {
  background: white;
}

* {
  font-family: "Roboto", sans-serif;
  /*font-family: 'Shrikhand', cursive;*/
}

* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

header .arrow svg {
  width: 20px;
  fill: rgb(70, 70, 70);
  position: absolute;
  left: 0;
  padding: 0 0 0 30px;
}
header .logo {
  display: flex;
  justify-content: center;
  padding: 30px 0 10px 0;
  box-shadow: 0px 0.5px 30px 1px rgb(184, 184, 184);
}
header img {
  width: 180px;
}

main {
  background: rgb(240, 240, 240);
}
main img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
main .mid {
  position: relative;
  bottom: 30px;
  padding: 50px 0;
  background: rgb(240, 240, 240);
  border-radius: 40px 40px 0 0;
  border: none;
}
main .mid .group__mid {
  display: flex;
}
main .mid .group__mid h1 {
  display: flex;
  font-weight: 500;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  padding: 0 70px 0 20px;
}
main .mid .group__mid i {
  position: absolute;
  right: 0;
  padding: 0 7%;
  margin: 5px 0 0 0;
}
main .mid .group__mid i svg {
  fill: gray;
  width: 30px;
}
main .mid .entres {
  position: relative;
  display: flex;
  flex-direction: column;
}
main .mid .entres h2 {
  position: relative;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding: 3px 0;
  margin: 30px 20px 10px 20px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
}
main .mid .entres #abc {
  transition: 500ms;
  margin-right: 0;
}
main .mid .entres .prix {
  transition: 500ms;
  margin-right: 0;
}
main .mid .entres .entres__group:hover #abc {
  transition: 500ms;
  margin-right: 0;
  padding: 0 20px;
}
main .mid .entres .entres__group:hover #abc svg {
  transform: rotate(360deg);
  transition: 700ms;
}
main .mid .entres .entres__group:hover h3 {
  transition: 1000ms;
  width: calc(100% - 71px);
}
main .mid .entres .entres__group:hover p {
  transition: 1000ms;
  width: calc(100% - 145px);
}
main .mid .entres .entres__group:hover .prix {
  transition: 500ms;
  margin: 0 70px 0 0;
}
main .mid .entres .entres__group {
  animation: load 1s;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 0 20px 15px 20px;
  padding: 15px 0;
  border-radius: 15px 15px;
  text-decoration: none;
  color: black;
}
main .mid .entres .entres__group h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 50px 0 12px;
}
main .mid .entres .entres__group p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 50px 0 12px;
}
main .mid .entres .entres__group h3 {
  transition: 1000ms;
  width: calc(100% - 20px);
}
main .mid .entres .entres__group p {
  transition: 1000ms;
  width: calc(100% - 71px);
}
main .mid .entres #abc {
  height: 71px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 -55px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}
main .mid .entres #abc svg {
  margin: 25px 0;
  background: white;
  border-radius: 50%;
  padding: 3px 3px;
  fill: #99E2D0;
  width: 17px;
}
main .mid .entres .prix {
  position: absolute;
  right: 0;
  bottom: 12px;
  right: 20px;
  /*margin: 0 50px 0 0;*/
  font-weight: bold;
  color: rgb(74, 74, 74);
}
main .mid .plats {
  display: flex;
  flex-direction: column;
  /*span
  {
      font-weight: bold;
      color: rgb(74, 74, 74);
  }*/
}
main .mid .plats h2 {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding: 3px 0;
  margin: 30px 20px 10px 20px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
}
main .mid .plats #abc {
  transition: 500ms;
  margin-right: 0;
}
main .mid .plats .prix {
  transition: 500ms;
  margin-right: 0;
}
main .mid .plats .plats__group:hover #abc {
  transition: 500ms;
  margin-right: 0;
  padding: 0 20px;
}
main .mid .plats .plats__group:hover #abc svg {
  transform: rotate(360deg);
  transition: 700ms;
}
main .mid .plats .plats__group:hover h3 {
  transition: 1000ms;
  width: calc(100% - 71px);
}
main .mid .plats .plats__group:hover p {
  transition: 1000ms;
  width: calc(100% - 145px);
}
main .mid .plats .plats__group:hover .prix {
  transition: 500ms;
  margin: 0 70px 0 0;
}
main .mid .plats .plats__group {
  animation: load 1s;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 0 20px 15px 20px;
  padding: 15px 0;
  border-radius: 15px 15px;
  text-decoration: none;
  color: black;
}
main .mid .plats .plats__group h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 50px 0 12px;
}
main .mid .plats .plats__group p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 50px 0 12px;
}
main .mid .plats .plats__group h3 {
  transition: 1000ms;
  width: calc(100% - 20px);
}
main .mid .plats .plats__group p {
  transition: 1000ms;
  width: calc(100% - 71px);
}
main .mid .plats #abc {
  height: 71px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 -55px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}
main .mid .plats #abc svg {
  margin: 25px 0;
  background: white;
  border-radius: 50%;
  padding: 3px 3px;
  fill: #99E2D0;
  width: 17px;
}
main .mid .plats .prix {
  position: absolute;
  right: 0;
  bottom: 12px;
  right: 20px;
  /*margin: 0 50px 0 0;*/
  font-weight: bold;
  color: rgb(74, 74, 74);
}
main .mid .desserts {
  display: flex;
  flex-direction: column;
  /*span
  {
      font-weight: bold;
      color: rgb(74, 74, 74);
  }*/
}
main .mid .desserts h2 {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding: 3px 0;
  margin: 30px 20px 10px 20px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
}
main .mid .desserts #abc {
  transition: 500ms;
  margin-right: 0;
}
main .mid .desserts .prix {
  transition: 500ms;
  margin-right: 0;
}
main .mid .desserts .desserts__group:hover #abc {
  transition: 500ms;
  margin-right: 0;
  padding: 0 20px;
}
main .mid .desserts .desserts__group:hover #abc svg {
  transform: rotate(360deg);
  transition: 700ms;
}
main .mid .desserts .desserts__group:hover h3 {
  transition: 1000ms;
  width: calc(100% - 71px);
}
main .mid .desserts .desserts__group:hover p {
  transition: 1000ms;
  width: calc(100% - 145px);
}
main .mid .desserts .desserts__group:hover .prix {
  transition: 500ms;
  margin: 0 70px 0 0;
}
main .mid .desserts .desserts__group {
  animation: load 1s;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 0 20px 15px 20px;
  padding: 15px 0;
  border-radius: 15px 15px;
  text-decoration: none;
  color: black;
}
main .mid .desserts .desserts__group h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 50px 0 12px;
}
main .mid .desserts .desserts__group p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 0 50px 0 12px;
}
main .mid .desserts .desserts__group h3 {
  transition: 1000ms;
  width: calc(100% - 20px);
}
main .mid .desserts .desserts__group p {
  transition: 1000ms;
  width: calc(100% - 71px);
}
main .mid .desserts #abc {
  height: 71px;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 -55px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}
main .mid .desserts #abc svg {
  margin: 25px 0;
  background: white;
  border-radius: 50%;
  padding: 3px 3px;
  fill: #99E2D0;
  width: 17px;
}
main .mid .desserts .prix {
  position: absolute;
  right: 0;
  bottom: 12px;
  right: 20px;
  /*margin: 0 50px 0 0;*/
  font-weight: bold;
  color: rgb(74, 74, 74);
}
main .buton {
  display: flex;
  justify-content: center;
  padding: 0 0 45px 0;
  margin: 0 0 0 0;
}
main .buton .unstyled {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 4px 5px 2px rgb(199, 199, 199);
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 50px 50px;
  text-align: center;
  position: relative;
  bottom: 40px;
}
main .buton a:hover {
  transition: 1000ms;
  transform: scale(1.05);
  background-image: linear-gradient(175deg, rgba(255, 121, 217, 0.8901960784), rgba(145, 86, 217, 0.8901960784));
}

footer {
  background: rgb(58, 58, 58);
  padding: 10px 20px 20px 20px;
}
footer a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}
footer p {
  font-size: 17px;
  padding: 12px 0;
  font-family: "Shrikhand", cursive;
}
footer .footer__title {
  display: flex;
  width: 97px;
}
footer .footer__link {
  padding: 3px 0;
}
footer .footer__link svg {
  width: 12px;
  padding: 0 4px;
  fill: white;
}

#a1 {
  animation: load 1s, fromBottom 1s;
}

#a2 {
  animation: load 1.5s, fromBottom 1.5s;
}

#a3 {
  animation: load 2s, fromBottom 2s;
}

#a4 {
  animation: load 2.5s, fromBottom 2.5s;
}

#a5 {
  animation: load 3s, fromBottom 3s;
}

#a6 {
  animation: load 3.5s, fromBottom 3.5s;
}

#a7 {
  animation: load 4s, fromBottom 4s;
}

#a8 {
  animation: load 4.5s, fromBottom 4.5s;
}

#a9 {
  animation: load 5s, fromBottom 5s;
}

#a10 {
  animation: load 5.5s, fromBottom 5.5s;
}

/*# sourceMappingURL=page1.css.map */
