/***************************************************************
|*|**********************************************************|*|
|*|  Css                                                     |*|
|*|                        -----------                       |*|
|*|                      | ## Booki ## |                     |*|
|*|                        -----------                       |*|
|*|                                                          |*|
|*|**********************************************************|*|
***************************************************************/
body {
  background: white;
}

* {
  font-family: "Roboto", sans-serif;
  /*font-family: 'Shrikhand', cursive;*/
}

* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

header .logo {
  display: flex;
  justify-content: center;
  padding: 30px 0 10px 0;
  box-shadow: 0px 0.5px 30px 1px rgb(184, 184, 184);
}
header img {
  width: 180px;
}

main {
  background: rgb(240, 240, 240);
}
main img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
main .mid {
  position: relative;
  bottom: 30px;
  padding: 50px 0;
  background: rgb(240, 240, 240);
  border-radius: 40px 40px 0 0;
  border: none;
}
main .mid .group__mid {
  display: flex;
}
main .mid .group__mid h1 {
  display: flex;
  font-weight: 500;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  padding: 0 70px 0 20px;
}
main .mid .group__mid i {
  position: absolute;
  right: 0;
  padding: 0 7%;
  margin: 5px 0 0 0;
}
main .mid .group__mid i svg {
  fill: gray;
  width: 30px;
}
main .mid .entres {
  display: flex;
  flex-direction: column;
}
main .mid .entres h2 {
  margin: 30px 20px 10px 20px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
}
main .mid .entres .entres__group {
  background: white;
  margin: 0 20px 15px 20px;
  padding: 15px 0;
  border-radius: 15px 15px;
  text-decoration: none;
  color: black;
}
main .mid .entres .entres__group h3 {
  margin: 0 12px;
}
main .mid .entres .entres__group p {
  margin: 0 12px;
}
main .mid .plats {
  display: flex;
  flex-direction: column;
}
main .mid .plats h2 {
  margin: 30px 20px 10px 20px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
}
main .mid .plats .plats__group {
  background: white;
  margin: 0 20px 15px 20px;
  padding: 15px 0;
  border-radius: 15px 15px;
  text-decoration: none;
  color: black;
}
main .mid .plats .plats__group h3 {
  margin: 0 12px;
}
main .mid .plats .plats__group p {
  margin: 0 12px;
}
main .mid .desserts {
  display: flex;
  flex-direction: column;
}
main .mid .desserts h2 {
  margin: 30px 20px 10px 20px;
  color: gray;
  font-weight: 400;
  font-size: 20px;
}
main .mid .desserts .desserts__group {
  background: white;
  margin: 0 20px 15px 20px;
  padding: 15px 0;
  border-radius: 15px 15px;
  text-decoration: none;
  color: black;
}
main .mid .desserts .desserts__group h3 {
  margin: 0 12px;
}
main .mid .desserts .desserts__group p {
  margin: 0 12px;
}
main .buton {
  display: flex;
  justify-content: center;
  padding: 0 0 45px 0;
  margin: 0 0 0 0;
}
main .buton .unstyled {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 4px 5px 2px rgb(199, 199, 199);
  border: none;
  padding: 15px 50px 15px 50px;
  border-radius: 50px 50px;
  text-align: center;
  position: relative;
  bottom: 40px;
}
main .buton a:hover {
  transition: 1000ms;
  transform: scale(1.05);
  background-image: linear-gradient(175deg, rgba(255, 121, 217, 0.8901960784), rgba(145, 86, 217, 0.8901960784));
}

footer {
  background: rgb(58, 58, 58);
  padding: 10px 20px 20px 20px;
}
footer a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}
footer p {
  font-size: 17px;
  padding: 12px 0;
  font-family: "Shrikhand", cursive;
}
footer .footer__title {
  display: flex;
  width: 97px;
}
footer .footer__link {
  padding: 3px 0;
}
footer .footer__link svg {
  width: 12px;
  padding: 0 4px;
  fill: white;
}

/*# sourceMappingURL=page1.css.map */
